<ion-view title="Add Doors" id="Add-Doors-wrapper">
  <ion-content padding="'true'" class="has-header">
    <form name="doorform" class="list">
      <div>
        <p>You can size the door by providing the inputs for width and length and select where to position them. Add to position more doors or minus to remove door.</p>
      </div>
      <div class="row">
        <div class="col col-45">
          <label class="item item-input" id="margin-item">
            <span class="input-label">Width</span>
            <input
            name="width" 
            type="tel" 
            ng-model="door.width" 
            placeholder="feet" 
            ng-change="addDoor()"
            required
            ng-pattern="/^\d*\.?\d*$/">
          </label>
        </div>

        <div class="col col-55">
            <select 
            name="select"
            class="ion-input-select" 
            id="margin-item">
              <option selected>Single</option>
              <option>Double</option>
              <option>Sliding</option>
            </select>
        </div>  
<!--         <div class="col-55">
          <label class="item item-input item-select" id="margin-item">
            <span class="input-label">Type</span>
            <select id="doortypelist" ng-model="item" ng-change="addDoor()">
              <option>Single</option>
              <option selected>Double</option>
              <option>Sliding</option>
            </select>
          </label>
        </div> -->
      </div>
      <div class="row">
        <div class="col form-error assertive text-center"
        ng-show="doorform.width.$error.pattern">
          Invalid Input
        </div>
        <div class="col form-error assertive text-center" ng-show="doorform.width.$error.required && doorform.width.$error.pattern">
          Width is required
        </div>
      </div>  
    </form>
    <div class="room-container" style="width:"{{roomwidth}}";height:"{{roomheight}}"" >
      <canvas width="{{roomwidth}}" height="{{roomheight}}" style="border:5px solid black;"> </canvas>
    </div>

    <div class="row row-bottom">
      <div class="col-10 col-offset-75">
        <button class="button button-stable button-icon button-large icon-right ion-minus-circled"></button>
      </div>
      <div class="col-10">
        <button class="button button-stable button-icon button-large icon-right ion-android-add-circle"></button>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-dark tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-arrow-left-a" ng-click="goBack()"></i><!--ng-click="bedroomSize(user)"-->
      BACK
    </a>
    <a class="tab-item">
      <i class="icon ion-arrow-right-a" ng-click="addWindows(user)"></i>
      NEXT
    </a>
  </div>
</ion-view>
