<ion-view>
<ion-nav-bar class="bar-dark">
<ion-nav-title>
      Windows
    </ion-nav-title>
</ion-nav-bar>
  <ion-content padding="'true'" class="has-header" scroll="false">
        <form name="windowForm" class="list">
        <div>
            <p>You can size the door by providing the inputs for width and length and select                  where to position them. Add to position more windows or minus to remove window.</p>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Width</span>
                        <input name="width"
                               type="tel" 
                               placeholder="feet" 
                               ng-model="window.width"
                               required
                               autocomplete ="off"
                               ng-pattern="/^\d*\.?\d*$/">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col text-center form-error assertive"
                ng-show="windowForm.width.$error.pattern">
                  Invalid Input
                </div>
                <div class="col text-center form-error assertive" 
                ng-show="windowForm.width.$error.required">
                  Width is required
                </div>
            </div>         
        </form>
<button class="button button-full button-dark" ng-disabled="!windowForm.$valid" ng-click="addWindow()">
                    Add Window
            </button> 
        <div class="room-container">
      <div class="rhold"  id="roomholderwindow" style="border:5px solid black;
                                   width:{{cwidth}};
                                   height:{{cheight}};
                                   margin: 0 auto;
                                   position:relative">
            
      </div>
    </div>
    </ion-content>
        <div class="tabs tabs-dark tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-arrow-left-a" ng-click="goBack()"></i><!--ng-click="addDoors(user)"-->
                BACK
            </a>
            <a class="tab-item">
                <i class="icon ion-arrow-right-a" ng-click="addFurniture()"></i>
                NEXT
            </a>
        </div>
</ion-view>