<ion-view title="Add Windows">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div>
                <p>You can size the door by providing the inputs for width and length and select where to position them. Add to position more windows or minus to remove window.</p>
            </div>
            <div class="row">
                <div class="col col-30">
                    <label class="item item-input">
                        <span class="input-label">Width</span>
                        <input type="tel" placeholder="feet">
                    </label>
                </div>
                <div class="col col-30">
                    <label class="item item-input">
                        <span class="input-label">Length</span>
                        <input type="tel" placeholder="feet">
                    </label>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-offset-25">
                    <p>Room shows up below.</p> 
                </div>
            </div> 
            <div class="row row-bottom">
                <div class="col">
                    <img src="http://placehold.it/280x150">
                </div> 
            </div> 
            <div class="row row-bottom">
                <div class="col-10 col-offset-75">
                    <button class="button button-stable button-icon button-large icon-right ion-minus-circled"></button>
                </div>
                <div class="col-10">
                    <button class="button button-stable button-icon button-large icon-right ion-android-add-circle"></button>
                </div>
            </div>           
        </form>
    </ion-content>
        <div class="tabs tabs-dark tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-arrow-left-a" ng-click="goBack()"></i><!--ng-click="addDoors(user)"-->
                BACK
            </a>
            <a class="tab-item">
                <i class="icon ion-arrow-right-a" ng-click="addFurniture(user)"></i>
                NEXT
            </a>
        </div>
</ion-view>