<ion-view title="Add Windows">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div>
                <p>Add Windows into the bedroom by dragging down the window into the bedroom. You can size the window using the height and width range below.</p>
            </div>
        </form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Width</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Height</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-stable button-icon button-large icon-right ion-minus-circled"></button>
        <button class="button button-stable button-icon button-large icon-right ion-android-add-circle"></button>
    </ion-content>
        <div class="tabs tabs-dark tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-arrow-left-a"></i>
                BACK
            </a>
            <a class="tab-item">
                <i class="icon ion-arrow-right-a"></i>
                NEXT
            </a>
        </div>
</ion-view>