<ion-view title="Layout">
    <ion-content padding="'true'" class="has-header">
        <p>This page will display the images of the different furniture layouts you can have in your bedroom.</p>

        <ion-slide-box does-continue="true" 
                         show-pager='true'
                         slide-interval="3000"
                         auto-play="false"
                         on-slide-changed="slideChanged(index)">
            <ion-slide ng-repeat="slide in slides">
                <div class="slide"><img src="{{slide.src}}" alt=""/><h3>{{slide.name}}</h3></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="tabs tabs-dark tabs-icon-top">
        <a class="tab-item">
            <i class="icon ion-arrow-left-a" ng-click="goBack()"></i>
            BACK
        </a>
    </div>
</ion-view>