<ion-view title="Layout">
    <ion-content padding="'true'" class="has-header">
        This page will display the images of the different furniture layouts you can have in your bedroom.
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
        <div class="tabs tabs-dark tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-arrow-left-a"></i>
                BACK
            </a>
        </div>
</ion-view>